$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$body-bg:       $gray-200;
$body-color:    $gray-900;

$primary:       #f75f1c; // orange
$secondary:     #000; //black
$success:       #d8b95c; // green
$info:          #881ee4; // purple
$warning:       #ff9a00; //
// $danger:        $red ; //

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

.grid {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0;

}



.inlineit {

  display: inline-block;

}
.gridStyling {
  width: 30px;
  height: 30px;

}
.gridStylingLine {

  height: 30px;

}
.blackBackground {
  background-color: #333333;
}

[v-cloak] {display: none}


.flex-center {
  display: flex;
  justify-content: center;
}

.centerit {
  margin: 300 auto;
}
body {
  background-color: #fb7b1d !important;
  font-family: 'Bowlby One SC', cursive;


}

.pointer {
   cursor: pointer;
}

#pot{
    bottom:50%;
    position:inherit;
    -webkit-animation:linear infinite alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 1s;
}
@-webkit-keyframes run {
  from {left: 35%;}
to {left: 40%;}
}

.parent {
    position: relative;
    margin: auto;

    width:500px;
    height:350px;
}

.pic {
    position: absolute;
    top:150px;

}

.noBackground {
  background-color: transparent;
}
