.grid {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0;

}



.inlineit {

  display: inline-block;

}
.gridStyling {
  width: 20px;
  height: 20px;
  margin: .1em;
}
.blackBackground {
  background-color: #333333;
}

[v-cloak] {display: none}


.flex-center {
  display: flex;
  justify-content: center;
}

.centerit {
  margin: 300 auto;
}
body {
  background-color: #9b9abb !important;
}
